body {
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-container {
    width: 1024px;
    height: 4250px;
    background-color: #8cc3e2;
}

nav {
    width: 1024px;
    height: 71px;
    display: flex;
    position: sticky;
    align-items: center;
    background-color: #ffe860;
}

ul#horizontal-list li {
    display: inline;
    margin: 60px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    height: 500px;
    width: 70px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    /* margin-top: 150px; */
    margin-right: 50px;
    background-color: #ffe860;
}

#right {
    width: 870px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    background-color: white;
}

#text {
    /* width: 870px; */
    display: flex;
    align-items: center;
    
    background-color: white;
    font-family: 'Playfair Display', serif;
}

.down {
    font-size: 40px;
    transform: rotate(270deg);
    font-family: 'Montserrat', sans-serif;
}

div.left-bar {
    display: flex;
    margin-top: 150px;
    /* flex-wrap: nowrap;
    flex-direction: row;
    align-self: center; */
}

.photos {
    display: grid;
    justify-content: space-around;
}

#contact-list {
    margin: 20px;
    display: flex;
    align-items: center;
}

p.footer {
    height: 442px;
    display: flex;
    justify-content: right;
    /* padding-right: 150px; */
    align-items: center;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
